<div class="flex justify-center my-8">
    <nav class="flex items-center space-x-2">
        <a href="{{ .Paginator.First.URL }}"
           class="w-8 h-8 flex items-center justify-center rounded text-black hover:text-blue-400">
            ⋘
        </a>

        <a href="{{ if .Paginator.HasPrev }} {{ .Paginator.Prev.URL }} {{ else }}javascript:void(0);{{ end }}"
           class="w-8 h-8 flex items-center justify-center rounded text-black hover:text-blue-400">
            <
        </a>

        {{ $currentPageNumber := .Paginator.PageNumber }}
        {{ range .Paginator.Pagers }}
        {{ if eq $currentPageNumber .PageNumber }}
        <a href="{{ .URL }}"
           class="w-8 h-8 flex items-center justify-center bg-primary-300 rounded text-white hover:text-blue-400">
            {{ .PageNumber }}
        </a>
        {{ else }}
        <a href="{{ .URL }}"
           class="w-8 h-8 flex items-center justify-center bg-background-100 border rounded text-black hover:text-blue-400">
            {{ .PageNumber }}
        </a>
        {{ end }}
        {{ end }}

        <a href="{{ if .Paginator.HasNext }} {{ .Paginator.Next.URL }} {{ else }}javascript:void(0);{{ end }}"
           class="w-8 h-8 flex items-center justify-center rounded text-black hover:text-blue-400">
            >
        </a>

        <a href="{{ .Paginator.Last.URL }}"
           class="w-8 h-8 flex items-center justify-center rounded text-black hover:text-blue-400">
            ⋙
        </a>

    </nav>
</div>
